[Unit]
Description=camera03     
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /root/Documents/camera_udp_client/rn_t.py

[Install]
WantedBy=multi-user.target
